<main>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="/">inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ress">Baldomero Romero Ressendi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/goy">Francisco de Goya</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/pic">Pablo Picasso</a>
  </li>
     <li class="nav-item">
    <a class="nav-link" href="/ver">Veermer</a>
  </li>
     <li class="nav-item">
    <a class="nav-link" href="/rem">Remedios Varo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
